@page "/AllUsers"

@inject ILogger<AllUsersPage> _logger
@inject IUserService _userService

<h3>AllUsersForm</h3>

@if (Users is null)
{
    <p><em>Loading User Data</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Users)
            {   
                <tr>
                    <td>@user.firstname</td>
                    <td>@user.lastname</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    protected List<PersonModel> Users = null;
    
    protected override async Task  OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        Users = (await _userService.GetUsersAsync()).ToList();
    }
}