@using System.Diagnostics
<h3>Counter V @currentCounter</h3>
<p>Current count: @count</p>
<p>Total count: @TotalCount</p>
<button class="btn btn-primary" @onclick="CountClick">Click Me</button>
@code {

    static int version;
    public Counter()
    {
        currentCounter = ++version;
    }
    
    int currentCounter;
    
    [Parameter]
    public int TotalCount { get; set; }
    
    [Parameter]
    public EventCallback<int> TotalCountChanged { get; set; }
    
    int count = 0;

    private void CountClick()
    {
        count++;
        TotalCountChanged.InvokeAsync(TotalCount + 1);
        
        if (count > 5) //HACK
            throw new UnreachableException("Paradox");
    }

}