@using System.Diagnostics
<h3>Counter V @currentCounter</h3>
<p>Current count: @count</p>
<button class="btn btn-primary" @onclick="CountClick">Click Me</button>
@code {

    static int version;
    public Counter()
    {
        currentCounter = ++version;
    }
    
    int currentCounter;
    int count = 0;

    private void CountClick()
    {
        count++;

        if (count > 5) //HACK
            throw new UnreachableException("Paradox");
    }

}