@page "/counter"
@using System.Diagnostics

<p>Current count: <div id="counter-val">@_count</div></p>
<p>Total count: @TotalCount</p>
<button class="btn btn-primary" id="increase-btn" @onclick="CountClick">Click Me</button>
@code {
    [Parameter]
    public int TotalCount { get; set; }
    
    [Parameter]
    public EventCallback<int> TotalCountChanged { get; set; }
    
    int _count = 0;

    protected override bool ShouldRender()
    {
        return _count is < 4 or > 6;
    }

    private void CountClick()
    {
        _count++;
        
        TotalCountChanged.InvokeAsync(TotalCount + 1);
        
        if (_count > 9) //HACK will throw on 10
            throw new UnreachableException("Paradox");
    }

}