@using BlazorServerDemo.Interfaces
@using BlazorServerDemo.Models
@using System.Transactions
@inject ICountryService _countryService

@if (Countries is null)
{
    <LoadingSpinner/>
}
else
{
    <label class="form-label" for="selectCountry">Select a Country</label>
    <InputListSelectorV2 id="selectCountry" Items="@Countries" DefaultValue="Select a Country"
                         @bind-SelectedItem="@SelectedCountry" TId="Guid" TItem="Country"/>

    <label class="form-label" for="selectCountry">Select a Province</label>
    <InputListSelectorV2 id="selectProvince" Items="@SelectedCountry?.Provinces" DefaultValue="@($"Select a {SelectedCountry?.Region ?? "Country First"}")"
                         @bind-SelectedItem="@SelectedProvince" TId="Guid" TItem="Province"/>

    <p>Selected Country is @SelectedCountry?.Name</p>
    @if (SelectedCountry is not null)
    {
    <p>Selected @SelectedCountry?.Region is @SelectedProvince?.Name</p>
    }
}


@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await Task.Delay(1000); //HACK to show loading spinner
        Countries = _countryService.GetCountries();
    }

    private Guid SelectedCountryId
    {
        get => SelectedCountry?.Id ?? Guid.Empty;
        set => SelectedCountry = Countries?.FirstOrDefault(c => c.Id == value);
    }
    
    private Country? SelectedCountry { get; set; }
    private Province? SelectedProvince { get; set; }
    
    IEnumerable<Country>? Countries { get; set; }
}