@inherits ErrorBoundaryBase

<h3>My Custom Error Block</h3>
@ChildContent

@foreach (var exception in _exceptions)
{
    <h1>@exception.GetType()</h1>
    <p>@exception.Message</p>
    
}
<button class="btn btn-primary" @onclick="ClearAll" hidden="@(!_exceptions.Any())">Clear Errors</button>

@code {

    [Inject]
    ILogger<CustomErrorContent> Logger { get; set; }

    private List<Exception> _exceptions = new();

    protected override Task OnErrorAsync(Exception exception)
    {
        _exceptions.Add(exception);
        Logger.LogInformation(exception, "Exception blocked by ErrorBounds");
        return Task.CompletedTask;
    }

    private void ClearAll()
    {
        _exceptions = new List<Exception>();
        StateHasChanged();
    }
}