<CascadingValue Value="this">
    @ChildContent
</CascadingValue>

<Modal Title="Page Navigation Lock" Show=@NavigationActive OnConfirm=@ConfirmNavigation>
    <p>
        This page is preventing navigation
    </p>
</Modal>