@inject NavigationManager _manager

<div class="sub-menu" style=@visibleStyle>
    @ChildContent
</div>


@code {

    protected override Task OnInitializedAsync()
    {
        base.OnInitialized();
        _manager.LocationChanged += UpdateVisibility;
        return Task.CompletedTask;
    }

    private void UpdateVisibility(object? sender, LocationChangedEventArgs e)
    {
        RenderRoutes = _manager.Uri.Substring(_manager.BaseUri.Length).StartsWith(VisibleRoutes);
        visibleStyle = RenderRoutes ? "" : "display: none;";
        StateHasChanged();
    }

    private string visibleStyle = "display: none;";


    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private bool RenderRoutes { get; set; } = true;

    [Parameter]
    public string VisibleRoutes { get; set; } = "";

}