
<button class="btn btn-primary" @onclick="@CreateError">Generate Error</button>

@code {
    [CascadingParameter]
    private BlazorServerDemo.Pages.Index? Index { get; set; }

    private void CreateError()
    {
        Index?.SetErrorMessage("Error Generated");
        throw new NotImplementedException();
    }
}