@page "/tablistpage"
<h3>TabListPage</h3>


<TabList>
    <TabItem Title="A">
        <ItemA/>
    </TabItem>
    <TabItem Title="B">
        <ItemB/>
    </TabItem>
    <TabItem Title="C">
        <ItemA/>
    </TabItem>
</TabList>

@code {

}